@import "tailwindcss";

@plugin "flowbite/plugin";


@theme {
    --color-AC_Orange: rgb(255, 154, 0);
    --color-AC_Green: rgb(45, 186, 170);

    --font-poltawski: "Poltawski Nowy, serif";
    --font-poppins: "Poppins, sans-serif";

    --breakpoint-xs: 375px;

    --animate-scroll: scroll 30s linear infinite;

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}